# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# IDE
.project
.settings
.idea
.vscode

# Folders
_obj
_test
_dev
/logs
/log
/storage
/tmp
/rpmbuild
/vendor/self

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

*.exe
*.test
*.prof

# Binaries
/bin/
/pkg/

# Dependences
/*.log
.localpackages

# Configs and etc...
/.env.mk
/cache
/conf/*.yml
!/conf/*.yml.example
!/conf/*.yml.example.yml
!/conf/*.example.yml
!/conf/*.example.log.yml
/conf/keys/*
!/conf/keys/*.md
/conf/keys/jwt.private
/conf/keys/jwt.public
/conf/keys/server.private
/conf/keys/server.public
/run/*.pid
/run/*.sock
/run/*.state
/run/*.bolt.db
/run/*.log
/doc/*.mwb.bak
/doc/.~lock.*
/doc/.$*
nohup.out
coverage.out
/result.*
/conf/proxy.txt
/.config
/*.txt
/*.json
